@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
* .container .home {
  background-color: #080E2F;
  color: #FFFFFF;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
* .container .home .tophome {
  display: flex;
  justify-content: space-between;
}
* .container .home .tophome .logo img {
  width: 10vw;
  height: 10vw;
  padding: 1vw;
  margin: 1vh 0 0 3vw;
}
* .container .home .tophome .navbar ul {
  text-align: center;
  margin: 8vh 9vw 0 0;
}
* .container .home .tophome .navbar ul li {
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
* .container .home .tophome .navbar ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
* .container .home .tophome .navbar ul li #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* .container .home .bothome .grid-container {
  display: grid;
  margin: 0 10vw 0 0;
}
* .container .home .bothome .grid-container .header {
  text-align: center;
  grid-column: 1;
  margin: 17vh 0 0 12vw;
}
* .container .home .bothome .grid-container .header #header {
  font-size: 2vw;
  font-weight: bold;
  margin: 2vh 0 1vh 0;
}
* .container .home .bothome .grid-container .header #para {
  font-size: 1.2vw;
}
* .container .home .bothome .grid-container .socials {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: center;
  margin: -25vh 0 0 17vw;
}
* .container .home .bothome .grid-container .socials a #github {
  width: 3vw;
  height: 3vw;
}
* .container .home .bothome .grid-container .socials a #linkedin {
  width: 4vw;
  height: 4vw;
  margin: 0 0 0 1.5vw;
}
* .container .home .bothome .grid-container .socials a #twitter {
  width: 4vw;
  height: 4vw;
  margin: 0 0 0 1vw;
}
* .container .home .bothome .grid-container .socials a #instagram {
  width: 4.6vw;
  height: 4.6vw;
  margin: 0 0 0 0.5vw;
}
* .container .home .bothome .grid-container .socials a #facebook {
  width: 3vw;
  height: 3vw;
  margin: 0 0 0 1vw;
}
* .container .home .bothome .grid-container .photo {
  grid-column: 2;
  grid-row: 1/span 3;
}
* .container .home .bothome .grid-container .photo img {
  border-radius: 50%;
  width: 27vw;
  height: 27vw;
  margin: -1vh 0 0 14vw;
}
* .container .skills {
  background-color: #146166;
  color: #FFFFFF;
  height: 110vh;
  font-family: "Inter", sans-serif;
}
* .container .skills .topskills {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1vh 0 0 0;
}
* .container .skills .topskills h1 {
  font-size: 5vw;
  margin: 4vh 4vw 0 2vw;
}
* .container .skills .topskills .navbar ul {
  margin: 8vh 5vw 0 0;
}
* .container .skills .topskills .navbar ul li {
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
* .container .skills .topskills .navbar ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
* .container .skills .topskills .navbar ul li #selected {
  background-color: white;
  color: #146166;
  border-radius: 5px;
  padding: 0.4vw;
}
* .container .skills .pageskills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8vh 0 0 0;
}
* .container .skills .pageskills .skillslist .skillscontent {
  margin: 0 0 0 10vw;
}
* .container .skills .pageskills .skillslist .skillscontent .list {
  background-color: #080E2F;
  color: white;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 50%;
  width: 22vw;
  height: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.521);
}
* .container .skills .pageskills .skillslist .skillscontent .list p {
  padding: 1vh 1vh;
}
* .container .skills .pageskills .vl {
  border: 1px solid white;
  height: 55vh;
}
* .container .skills .pageskills .skillicons .front {
  margin: 0 0 4vh 0;
}
* .container .skills .pageskills .skillicons .front .icons {
  display: flex;
  gap: 15px;
  margin: 0 10vw 0 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock {
  background-color: #080E2F;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.521);
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #html img {
  width: 3.8vw;
  height: 7.6vh;
  margin: 3.5vh 0 0 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #html P {
  font-size: 1.5vh;
  opacity: 0.6;
  margin: 0.5vh 0 3vh 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #css img {
  width: 3.8vw;
  height: 7.6vh;
  margin: 3.5vh 0 0 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #css P {
  font-size: 1.5vh;
  opacity: 0.6;
  margin: 0.5vh 0 3vh 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #js {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #js img {
  width: 2.8vw;
  height: 5.5vh;
  border-radius: 5px;
  margin: 4vh 0 0 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #js P {
  font-size: 1.5vh;
  opacity: 0.6;
  margin: 1.3vh 0 3vh 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #react img {
  width: 3vw;
  height: 5.5vh;
  margin: 1vh 0 0 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #react p {
  font-size: 1.5vh;
  opacity: 0.6;
  margin: 1.2vh 0 0 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #sass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #sass img {
  width: 3.7vw;
  height: 4.6vh;
  margin: 1vh 0 0 0;
}
* .container .skills .pageskills .skillicons .front .icons .iconblock #sass p {
  font-size: 1.5vh;
  opacity: 0.6;
  margin: 1.7vh 0 0 0;
}
* .container .skills .pageskills .skillicons .back .icons {
  display: flex;
  gap: 15px;
  margin: 0 10vw 0 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock {
  background-color: #080E2F;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.521);
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #python {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #python img {
  width: 4vw;
  height: 8vh;
  margin: -0.5vh 0 1vh 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #python p {
  font-size: 1.6vh;
  opacity: 0.6;
  margin: -0.7vh 0 0 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #django {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #django img {
  width: 4vw;
  height: 7.5vh;
  margin: -0.1vh 0.3vw 0 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #django p {
  font-size: 1.6vh;
  opacity: 0.6;
  margin: -0.1vh 0 0 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #nodejs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #nodejs img {
  width: 2.8vw;
  height: 6vh;
  margin: 1vh 0 1vh 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #nodejs p {
  font-size: 1.6vh;
  opacity: 0.6;
  margin: 0 0 1vh 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #mongodb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #mongodb img {
  width: 1.5vw;
  height: 7.3vh;
  margin: 0.5vw 0 1vh 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #mongodb p {
  font-size: 1.6vh;
  opacity: 0.6;
  margin: 0 0 2vh 0;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #firebase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #firebase img {
  width: 3.5vw;
  height: 7.5vh;
  margin: 1vh 0 1.8vh 0.2vw;
  margin-bottom: 1vh;
  margin-left: 0.2vw;
}
* .container .skills .pageskills .skillicons .back .icons .iconblock #firebase p {
  font-size: 1.6vh;
  opacity: 0.6;
  margin: 0 0 2vh 0;
}
* .container .about {
  background-color: #0E4946;
  color: #FFFFFF;
  height: 110vh;
  font-family: "Inter", sans-serif;
}
* .container .about .abouttop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1vh 0 0 0;
}
* .container .about .abouttop h1 {
  font-size: 5vw;
  margin: 4vh 4vw 0 2vw;
}
* .container .about .abouttop .navbar ul {
  margin: 8vh 5vw 0 0;
}
* .container .about .abouttop .navbar ul li {
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
* .container .about .abouttop .navbar ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
* .container .about .abouttop .navbar ul li #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* .container .about .infoblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* .container .about .infoblock .info {
  text-align: left;
  padding-top: 10vh;
  width: 30%;
  font-size: 1svw;
  line-height: 2.5;
  margin-top: 5vh;
}
* .container .about .infoblock .info .resume {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
  border: 1px solid white;
  border-radius: 50px;
  background-color: #FFFFFF;
}
* .container .about .infoblock .info .resume a {
  text-decoration: none;
  color: #0E4946;
  font-size: 2vh;
  font-weight: bold;
}
* .container .about .infoblock .info .resume a img {
  width: 1vw;
  height: 1vw;
  margin: 1vh 0 0 0;
}
* .container .about .infoblock .info .resume img {
  width: 2vw;
  height: 2vw;
  margin: 0.5vh 0 0 0;
}
* .container .portfolio {
  background-color: #080E2F;
  color: #FFFFFF;
  height: 110vh;
  font-family: "Inter", sans-serif;
}
* .container .portfolio .portfoliotop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1vh 0 0 0;
}
* .container .portfolio .portfoliotop h1 {
  font-size: 5vw;
  margin: 4vh 4vw 0 2vw;
}
* .container .portfolio .portfoliotop .navbar ul {
  margin: 8vh 5vw 0 0;
}
* .container .portfolio .portfoliotop .navbar ul li {
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
* .container .portfolio .portfoliotop .navbar ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
* .container .portfolio .portfoliotop .navbar ul li #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* .container .portfolio .portcontainer {
  display: flex;
  flex-direction: column;
}
* .container .portfolio .portcontainer .appcontainer {
  display: flex;
  margin: 10vh 0 0 7vw;
  gap: 5vw;
}
* .container .portfolio .portcontainer .app1 {
  border: 1px solid white;
  border-radius: 5px;
  height: 60vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px black;
}
* .container .portfolio .portcontainer .app1 .app1cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  height: 60vh;
  width: 25vw;
  position: absolute;
  cursor: pointer;
  background-color: #080E2F;
}
* .container .portfolio .portcontainer .app1 .app1cover img {
  width: 14vw;
  height: 14vw;
}
* .container .portfolio .portcontainer .app1 .app1cover p {
  color: white;
  font-size: 3.5vh;
  font-family: "Julius Sans One", sans-serif;
}
* .container .portfolio .portcontainer .app1 .app1cover:hover {
  opacity: 0;
  transition: 1s;
}
* .container .portfolio .portcontainer .app1 .app1content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100vh;
  margin-top: 8vh;
  color: #B7BCD6;
}
* .container .portfolio .portcontainer .app1 .app1content .app1description {
  text-align: left;
  font-size: 1vw;
  width: 85%;
  margin: 0 0 0 -0.8vw;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies {
  display: flex;
  flex-direction: column;
  margin: 5vh 4.5vw 3vh 0;
  gap: 2vh;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies h3 {
  margin: 0 0 1vh 0;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles {
  margin: -1.5vh 0 2vh 0;
  display: flex;
  gap: 1vw;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle {
  border: 1px solid #05607D;
  border-radius: 50%;
  background-color: #05607D;
  width: 5vw;
  height: 5vw;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #react img {
  margin: 0.3vh 0 0 0;
  width: 2.3vw;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #react p {
  font-size: 0.6vw;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #express {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #express img {
  margin: 0.5vh 0 0 0;
  width: 1.8vw;
  height: 1.8vw;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #express p {
  font-size: 0.6vw;
  margin-top: 0.8vh;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #firebase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #firebase img {
  margin: 0 0 0 0;
  width: 2.2vw;
  height: 2.2vw;
}
* .container .portfolio .portcontainer .app1 .app1content .apptechnologies .apptechcircles .apptechcircle #firebase p {
  margin: 0.2vh 0 0 0;
  font-size: 0.7vw;
}
* .container .portfolio .portcontainer .app1 .app1content .accomplishments {
  margin: 1.5vh 0 0 0;
  font-size: 0.9vw;
  text-align: left;
}
* .container .portfolio .portcontainer .app1 .app1content .accomplishments h3 {
  font-size: 1vw;
  margin: -1vh 0 0 0;
}
* .container .portfolio .portcontainer .app1 .app1content .accomplishments p {
  font-size: 0.9vw;
}
* .container .portfolio .portcontainer .app1 .app1content .links {
  display: flex;
  margin: 3vh 0 0 5vw;
  gap: 6vw;
}
* .container .portfolio .portcontainer .app1 .app1content .links .linkto {
  display: flex;
}
* .container .portfolio .portcontainer .app1 .app1content .links .linkto p {
  margin: 0 0 0 0;
  font-size: 1vw;
}
* .container .portfolio .portcontainer .app1 .app1content .links .linkto img {
  width: 2.5vw;
  height: 2.5vw;
}
* .container .portfolio .portcontainer .app1 .app1content .links .linkto:hover {
  transition: all 0.5s ease-in;
  color: #FFFFFF;
  z-index: 1;
}
* .container .portfolio .portcontainer .app1 .app1content .links .github {
  display: flex;
}
* .container .portfolio .portcontainer .app1 .app1content .links .github img {
  width: 2.7vw;
  height: 2.7vw;
  margin: -0.3vh 0 0 0;
}
* .container .portfolio .portcontainer .app1 .app1content .links .github:hover {
  transition: all 0.5s ease-in;
  color: #FFFFFF;
  z-index: 1;
}
* .container .portfolio .portcontainer .app2 {
  border: 1px solid white;
  border-radius: 5px;
  height: 60vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 20px black;
}
* .container .portfolio .portcontainer .app2 .app2cover {
  position: absolute;
  border-radius: 10px;
  background-color: #080E2F;
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
* .container .portfolio .portcontainer .app2 .app2cover img {
  width: 17vw;
  height: 5.5vh;
}
* .container .portfolio .portcontainer .app2 .app2cover:hover {
  opacity: 0;
  transition: 1s;
}
* .container .portfolio .portcontainer .app2 .app2content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100vh;
  margin-top: 5vh;
  color: #B7BCD6;
}
* .container .portfolio .portcontainer .app2 .app2content .app2description {
  text-align: left;
  font-size: 1vw;
  width: 85%;
  margin: 5vh 0 0 -0.8vw;
}
* .container .portfolio .portcontainer .app2 .apptechnologies {
  display: flex;
  flex-direction: column;
  margin: 5vh 4.5vw 1vh 0;
  gap: 2vh;
}
* .container .portfolio .portcontainer .app2 .apptechnologies h3 {
  margin: 0 0 1vh 0;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles {
  margin: -1.5vh 0 2vh 0;
  display: flex;
  gap: 1vw;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle {
  border: 1px solid #05607D;
  border-radius: 50%;
  background-color: #05607D;
  width: 5vw;
  height: 5vw;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #react img {
  margin: 0.3vh 0 0 0;
  width: 2.3vw;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #react p {
  font-size: 0.6vw;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #express {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #express img {
  margin: 0.5vh 0 0 0;
  width: 1.8vw;
  height: 1.8vw;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #express p {
  font-size: 0.6vw;
  margin-top: 0.8vh;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #firebase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #firebase img {
  margin: 0 0 0 0;
  width: 2.2vw;
  height: 2vw;
}
* .container .portfolio .portcontainer .app2 .apptechnologies .apptechcircles .apptechcircle #firebase p {
  margin: 0.4vh 0 0 0;
  font-size: 0.7vw;
}
* .container .portfolio .portcontainer .app2 .accomplishments {
  margin: 0 0 0 0;
  font-size: 0.9vw;
  text-align: left;
}
* .container .portfolio .portcontainer .app2 .accomplishments h3 {
  font-size: 1vw;
  margin-bottom: -0.1vh;
}
* .container .portfolio .portcontainer .app2 .accomplishments p {
  font-size: 0.9vw;
}
* .container .portfolio .portcontainer .app2 .links {
  display: flex;
  gap: 6vw;
  margin: 4vh 0 5vh 0;
}
* .container .portfolio .portcontainer .app2 .links .linkto {
  display: flex;
}
* .container .portfolio .portcontainer .app2 .links .linkto img {
  width: 2.5vw;
  height: 2.5vw;
}
* .container .portfolio .portcontainer .app2 .links .github {
  display: flex;
}
* .container .portfolio .portcontainer .app2 .links .github img {
  width: 2.7vw;
  height: 2.7vw;
  margin: -0.3vh 0 0 0;
}
* .container .portfolio .portcontainer .app3 {
  border: 1px solid white;
  border-radius: 5px;
  height: 60vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 20px black;
}
* .container .portfolio .portcontainer .app3 .app3cover {
  background-color: #080E2F;
  border-radius: 5px;
  position: absolute;
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
* .container .portfolio .portcontainer .app3 .app3cover img {
  width: 17vw;
}
* .container .portfolio .portcontainer .app3 .app3cover:hover {
  opacity: 0;
  transition: 1s;
}
* .container .portfolio .portcontainer .app3 .app3content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100vh;
  margin: 4vh 0 0 0;
  color: #B7BCD6;
}
* .container .portfolio .portcontainer .app3 .app3content .app3description {
  text-align: left;
  font-size: 1vw;
  width: 85%;
  margin: 2vh 0 0 -3vw;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies {
  display: flex;
  flex-direction: column;
  margin: 5vh 1.35vw 0 0;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies h3 {
  margin: 0 0 2vh 0;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles {
  display: flex;
  gap: 1vw;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle {
  border: 1px solid #05607D;
  border-radius: 50%;
  background-color: #05607D;
  width: 5vw;
  height: 5vw;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #figma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #figma img {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 0 1vh 0;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #figma p {
  font-size: 0.6vw;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #wix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #wix img {
  margin: 0 0 0 0;
  width: 2vw;
  height: 2vw;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #wix p {
  font-size: 0.6vw;
  margin-top: 0.8vh;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #design img {
  margin: 0 0 0 0;
  width: 1.7vw;
  height: 1.7vw;
}
* .container .portfolio .portcontainer .app3 .app3content .apptechnologies .apptechcircles .apptechcircle #design p {
  font-size: 0.7vw;
  margin: 1vh 0 0 0;
}
* .container .portfolio .portcontainer .app3 .app3content .accomplishments {
  margin: 5vh 0 0 0;
  font-size: 0.9vw;
}
* .container .portfolio .portcontainer .app3 .app3content .links {
  display: flex;
  gap: 6vw;
  margin: 4vh 0 0 5vw;
}
* .container .portfolio .portcontainer .app3 .app3content .links .linkto img {
  width: 2.5vw;
  height: 2.5vw;
}
* .container .portfolio .portcontainer .app3 .app3content .links .github img {
  width: 2.7vw;
  height: 2.7vw;
  margin: -0.3vh 0 0 0;
}
* .experience {
  background-color: #0E4946;
  color: #FFFFFF;
  height: 110vh;
  font-family: "Inter", sans-serif;
}
* .experience .experiencetop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1vh 0 0 0;
}
* .experience .experiencetop h1 {
  font-size: 5vw;
  margin: 4vh 4vw 0 2vw;
}
* .experience .experiencetop .navbar {
  margin: 8vh 5vw 0 0;
}
* .experience .experiencetop .navbar li {
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
* .experience .experiencetop .navbar li a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
* .experience .experiencetop .navbar li #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* .experience .experiencecontainer {
  display: flex;
  justify-content: center;
  margin: 5vh 54vh 0 0;
}
* .experience .experiencecontainer .places {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0 0 0;
}
* .experience .experiencecontainer .courdevs {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -0.5vh 0 3vh 0;
}
* .experience .experiencecontainer .courdevs img {
  width: 7vw;
  height: 7vw;
}
* .experience .experiencecontainer .courdevs h3 {
  font-size: 2.5vh;
  margin-top: -0.005vh;
}
* .experience .experiencecontainer .courdevs p {
  margin-top: -0.8vw;
  font-size: 2vh;
}
* .experience .experiencecontainer .r1rcm {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5vh 0 0 0;
}
* .experience .experiencecontainer .r1rcm img {
  width: 5vw;
  height: 4vw;
}
* .experience .experiencecontainer .r1rcm h3 {
  font-size: 2.5vh;
  margin-top: 1.5vh;
}
* .experience .experiencecontainer .r1rcm p {
  margin-top: -0.9vw;
  font-size: 2vh;
}
* .experience .experiencecontainer .slea {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5.5vh 0 0 0;
}
* .experience .experiencecontainer .slea img {
  width: 5vw;
  height: 5vw;
}
* .experience .experiencecontainer .slea h3 {
  font-size: 2.5vh;
  margin-top: 1vh;
}
* .experience .experiencecontainer .slea p {
  margin-top: -0.9vw;
  font-size: 2vh;
}
* .experience .vl2 {
  border-left: 2px solid #FFFFFF;
  height: 75vh;
  margin: 0 2vw 2vh 2vw;
}
* .experience .descriptions .courdevelops h3 {
  margin-left: 2.3vw;
  margin-bottom: -0.9vh;
  font-size: 3vh;
}
* .experience .descriptions .courdevelops .descriptionlist ul {
  list-style: none;
  margin-bottom: 5vh;
}
* .experience .descriptions .courdevelops .descriptionlist ul li {
  font-size: 2vh;
  padding: 0.5vh;
}
* .experience .descriptions .r1description {
  margin: 7.5vh 0 0 0;
}
* .experience .descriptions .r1description h3 {
  margin-left: 2.2vw;
  margin-bottom: -0.9vh;
  font-size: 3vh;
}
* .experience .descriptions .r1description .descriptionlist ul {
  list-style: none;
  margin-bottom: 5vh;
}
* .experience .descriptions .r1description .descriptionlist ul li {
  font-size: 2vh;
  padding: 0.5vh;
}
* .experience .descriptions .sleadescription {
  margin-top: 6vh;
}
* .experience .descriptions .sleadescription h3 {
  margin-left: 2.35vw;
  margin-bottom: -0.9vh;
  font-size: 3vh;
}
* .experience .descriptions .sleadescription .descriptionlist ul {
  list-style: none;
}
* .experience .descriptions .sleadescription .descriptionlist ul li {
  font-size: 2vh;
  padding: 0.5vh;
}
* .blog {
  background-color: #146166;
  color: #FFFFFF;
  height: 120vh;
  font-family: "Inter", sans-serif;
}
* .blog .blogtop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1vh 0 0 0;
}
* .blog .blogtop h1 {
  font-size: 5vw;
  margin: 4vh 4vw 0 2vw;
}
* .blog .blogtop .navbar {
  margin: 8vh 5vw 0 0;
}
* .blog .blogtop .navbar li {
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
* .blog .blogtop .navbar li a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
* .blog .blogtop .navbar li #selected {
  background-color: white;
  color: #146166;
  border-radius: 5px;
  padding: 0.4vw;
}
* .blog .blogcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15vh 0 0 0;
}
* .blog .blogcontainer .blogoutline {
  display: flex;
  gap: 3vw;
  overflow: hidden;
  padding: 5vh;
  width: 80%;
  margin: 0 0 0 10vw;
}
* .blog .blogcontainer .blogoutline .blogcircles {
  background-color: #080E2F;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.521);
}
* .blog .blogcontainer .blogoutline .blogcircles a {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 1vh;
}
* .contact {
  background-color: #080E2F;
  color: #FFFFFF;
  height: 100vh;
  font-family: "Inter", sans-serif;
}
* .contact .contacttop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1vh 0 0 0;
}
* .contact .contacttop h1 {
  font-size: 5vw;
  margin: 4vh 4vw 0 2vw;
}
* .contact .contacttop .navbar {
  margin: 8vh 5vw 0 0;
}
* .contact .contacttop .navbar li {
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
* .contact .contacttop .navbar li a {
  text-decoration: none;
  color: #FFFFFF;
}
* .contact .contacttop .navbar #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* .contact .contactcontainer form {
  display: flex;
  gap: 7vw;
}
* .contact .contactcontainer form .nameemaildiv {
  margin: 10vh 0 0 40vh;
}
* .contact .contactcontainer form .nameemaildiv .name {
  margin: 0 0 6.5vh 0;
}
* .contact .contactcontainer form .nameemaildiv .name p {
  font-size: 1.5vw;
}
* .contact .contactcontainer form .nameemaildiv .name input {
  width: 24vw;
  height: 6vh;
  border: none;
  border-radius: 5px;
  background-color: #080E2F;
  border: 1px solid white;
  color: white;
}
* .contact .contactcontainer form .nameemaildiv .email p {
  font-size: 1.5vw;
}
* .contact .contactcontainer form .nameemaildiv .email input {
  width: 24vw;
  height: 6vh;
  border: none;
  border-radius: 5px;
  background-color: #080E2F;
  border: 1px solid white;
  color: white;
}
* .contact .contactcontainer form .nameemaildiv .socials {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5vh 0 0 2vw;
}
* .contact .contactcontainer form .nameemaildiv .socials #github {
  margin: 0 1vw 0 0;
}
* .contact .contactcontainer form .nameemaildiv .socials #github img {
  width: 2.8vw;
  height: 2.8vw;
}
* .contact .contactcontainer form .nameemaildiv .socials #linkedin {
  margin: 0 1vw 0 0;
}
* .contact .contactcontainer form .nameemaildiv .socials #linkedin img {
  width: 3.7vw;
  height: 3.7vw;
}
* .contact .contactcontainer form .nameemaildiv .socials #twitter {
  margin: 0 0.5vw 0 -0.4vw;
}
* .contact .contactcontainer form .nameemaildiv .socials #twitter img {
  width: 3.5vw;
  height: 3.5vw;
}
* .contact .contactcontainer form .nameemaildiv .socials #instagram {
  margin: 0 0.9vw 0 -0.01vw;
}
* .contact .contactcontainer form .nameemaildiv .socials #instagram img {
  width: 4vw;
  height: 4vw;
}
* .contact .contactcontainer form .nameemaildiv .socials #facebook img {
  width: 2.9vw;
  height: 2.9vw;
}
* .contact .contactcontainer form .messageandsubmitdiv {
  margin: 10vh 0 0 1vw;
}
* .contact .contactcontainer form .messageandsubmitdiv .message p {
  font-size: 1.5vw;
}
* .contact .contactcontainer form .messageandsubmitdiv .message input {
  width: 24vw;
  height: 23vh;
  border: none;
  border-radius: 5px;
  background-color: #080E2F;
  border: 1px solid white;
  color: white;
  text-align: center;
}
* .contact .contactcontainer form .messageandsubmitdiv .submit {
  margin: 6vh 0 0 0;
}
* .contact .contactcontainer form .messageandsubmitdiv .submit button {
  width: 100%;
  cursor: pointer;
  height: 5vh;
  background-color: #080E2F;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.2vw;
}
* .contact footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 18vh 7vw 0 0;
}
* .contact footer small {
  display: flex;
  justify-content: center;
  gap: 0.7vw;
}
* .contact footer small img {
  opacity: 0.5;
  width: 1.8vw;
  height: 1.8vw;
  margin: 0.5vh 0 0 0;
}
* .contact footer small .smallprint {
  display: flex;
  align-items: center;
  gap: 8px;
}
* .contact footer small .smallprint p {
  opacity: 0.5;
}
* .contact footer small .smallprint a {
  color: #3b66bb;
}
* .contact footer small .smallprint span #phone {
  margin: 1vh 0 0 0;
}/*# sourceMappingURL=main.css.map */