// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@900&display=swap');
// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$hoverfonts: #B7BCD6;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);

* {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    .container {

        // HOME SECTION
        .home {
            background-color: $mainblue;
            color: $skillswhite;
            height: 100vh;
            font-family: 'Inter', sans-serif;
            // display: flex;
            // flex-direction: column;
            .tophome {
                display: flex;
                justify-content: space-between;
                .logo {
                    img {
                        width: 10vw;
                        height: 10vw;
                        padding: 1vw;
                        margin: 1vh 0 0 3vw;
                    }
                }
                .navbar {
                    ul {
                        text-align: center;
                        margin: 8vh 9vw 0 0;
                        li {
                            display: inline;
                            padding: 0 1vw 0 0;
                            font-size: 1.2vw;
                            font-weight: bold;
                            a {
                                cursor: pointer;
                                text-decoration: none;
                                color: $skillswhite;
                            }
                            #selected {
                                background-color: white;
                                color: $mainblue;
                                border-radius: 5px;
                                padding: .4vw;
                            }
                        }
                    }
                }
            }
            .bothome {
                .grid-container {
                    display: grid;
                    margin: 0 10vw 0 0;
                    .header {
                        text-align: center;
                        grid-column: 1;
                        margin: 17vh 0 0 12vw;
                        #header {
                            font-size: 2vw;
                            font-weight: bold;
                            margin: 2vh 0 1vh 0;
                        }
                        #para {
                            font-size: 1.2vw;
                        }
                    }
                    .socials {
                        grid-column: 1;
                        grid-row: 3;
                        display: flex;
                        align-items: center;
                        margin: -25vh 0 0 17vw;
                        a {
                            #github {
                                width: 3vw;
                                height: 3vw;
                            }
                            #linkedin {
                                width: 4vw;
                                height: 4vw;
                                margin: 0 0 0 1.5vw;
                            }
                            #twitter {
                                width: 4vw;
                                height: 4vw;
                                margin: 0 0 0 1vw;
                            }
                            #instagram {
                                width: 4.6vw;
                                height: 4.6vw;
                                margin: 0 0 0 .5vw;
                            }
                            #facebook {
                                width: 3vw;
                                height: 3vw;
                                margin: 0 0 0 1vw;
                            }
                        }
                    }
                    .photo {
                        grid-column: 2;
                        grid-row: 1 / span 3;
                        img {
                            border-radius: 50%;
                            width: 27vw;
                            height: 27vw;
                            margin: -1vh 0 0 14vw;
                        }
                    }
                }
            }
        }

        // SKILLS SECTION
        .skills {
            background-color: $skillsteal;
            color: $skillswhite;
            height: 110vh;
            font-family: 'Inter', sans-serif;
            .topskills {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                padding: 1vh 0 0 0;
                h1 {
                    font-size: 5vw;
                    margin: 4vh 4vw 0 2vw;
                }
                .navbar {
                    ul {
                        margin: 8vh 5vw 0 0;
                        li {
                            display: inline;
                            padding: 0 1vw 0 0;
                            font-size: 1.2vw;
                            font-weight: bold;
                            a {
                                cursor: pointer;
                                text-decoration: none;
                                color: $skillswhite;
                            }
                            #selected {
                                background-color: white;
                                color: $skillsteal;
                                border-radius: 5px;
                                padding: .4vw;
                            }
                        }
                    }
                }
            }
            .pageskills {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 8vh 0 0 0;
                .skillslist {
                    .skillscontent {
                        margin: 0 0 0 10vw;
                        .list {
                            background-color: $mainblue;
                            color: white;
                            font-family: 'Julius Sans One', sans-serif;
                            font-size: 1vw;
                            font-weight: bold;
                            border-radius: 50%;
                            width: 22vw;
                            height: 22vw;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            box-shadow: 8px 8px 8px $boxshadowcircles;
                            p {
                                padding: 1vh 1vh;
                            }
                        }
                    }
                }
                .vl {
                    border: 1px solid white;
                    height: 55vh;
                }
                // The Icons of skill
                // Frontent Icons
                .skillicons {
                    .front {
                        // just there to list as frontend
                        margin: 0 0 4vh 0;
                        .icons {
                            display: flex;
                            gap: 15px;
                            margin: 0 10vw 0 0;
                            .iconblock {
                                background-color: $mainblue;
                                width: 7vw;
                                height: 7vw;
                                border-radius: 50%;
                                box-shadow: 8px 8px 8px $boxshadowcircles;
                                    #html {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.8vw;
                                            height: 7.6vh;
                                            margin: 3.5vh 0 0 0;
                                        }
                                        P {
                                            font-size: 1.5vh;
                                            opacity: .6;
                                            margin: .5vh 0 3vh 0;
                                        }
                                    }
                                    #css {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.8vw;
                                            height: 7.6vh;
                                            margin: 3.5vh 0 0 0;
                                        }
                                        P {
                                            font-size: 1.5vh;
                                            opacity: .6;
                                            margin: .5vh 0 3vh 0;
                                            // animation-name: moveInCenter2;
                                            // animation-duration: 5s;
                                        }
                                    }
                                    #js {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 2.8vw;
                                            height: 5.5vh;
                                            border-radius: 5px;
                                            margin: 4vh 0 0 0;
                                        }
                                        P {
                                            font-size: 1.5vh;
                                            opacity: .6;
                                            margin: 1.3vh 0 3vh 0;
                                        }
                                    }
                                    #react {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3vw;
                                            height: 5.5vh;
                                            margin: 1vh 0 0 0;
                                        }
                                        p {
                                            font-size: 1.5vh;
                                            opacity: .6;
                                            margin: 1.2vh 0 0 0;
                                        }
                                    }
                                    #sass {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.7vw;
                                            height: 4.6vh;
                                            margin: 1vh 0 0 0;
                                        }
                                        p {
                                            font-size: 1.5vh;
                                            opacity: .6;
                                            margin: 1.7vh 0 0 0;
                                        }
                                    }
                                }
                            }
                        }
                        .back {
                            .icons {
                                display: flex;
                                gap: 15px;
                                margin: 0 10vw 0 0;
                                .iconblock {
                                    background-color: $mainblue;
                                    width: 7vw;
                                    height: 7vw;
                                    border-radius: 50%;
                                    box-shadow: 8px 8px 8px $boxshadowcircles;
                                    #python {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 4vw;
                                            height: 8vh;
                                            margin: -.5vh 0 1vh 0;
                                        }
                                        p {
                                            font-size: 1.6vh;
                                            opacity: .6;
                                            margin: -.7vh 0 0 0;
                                            // animation-name: moveInCenter2;
                                            // animation-duration: 5s;
                                        } 
                                    }
                                    #django {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 4vw;
                                            height: 7.5vh;
                                            margin: -.1vh .3vw 0 0;
                                        }
                                        p {
                                            font-size: 1.6vh;
                                            opacity: .6;
                                            margin: -.1vh 0 0 0;
                                            // animation-name: moveInCenter2;
                                            // animation-duration: 5s;
                                        } 
                                    }
                                    #nodejs {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 2.8vw;
                                            height: 6vh;
                                            margin: 1vh 0 1vh 0;
                                        }
                                        p {
                                            font-size: 1.6vh;
                                            opacity: .6;
                                            margin: 0 0 1vh 0;
                                            // animation-name: moveInCenter2;
                                            // animation-duration: 5s;
                                        }
                                    }
                                    #mongodb {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 1.5vw;
                                            height: 7.3vh;
                                            margin: .5vw 0 1vh 0;
                                        }
                                        p {
                                            font-size: 1.6vh;
                                            opacity: .6;
                                            margin: 0 0 2vh 0;
                                            // animation-name: moveInCenter2;
                                            // animation-duration: 5s;
                                        }
                                    }
                                    #firebase {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.5vw;
                                            height: 7.5vh;
                                            margin: 1vh 0 1.8vh .2vw;
                                            margin-bottom: 1vh;
                                            margin-left: .2vw;
                                        }
                                        p {
                                            font-size: 1.6vh;
                                            opacity: .6;
                                            margin: 0 0 2vh 0;
                                            // animation-name: moveInCenter2;
                                            // animation-duration: 5s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
        }

        // ABOUT SECTION
        .about {
            background-color: $aboutgreen;
            color: $skillswhite;
            height: 110vh;
            font-family: 'Inter', sans-serif;
            .abouttop {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                padding: 1vh 0 0 0;
                h1 {
                    font-size: 5vw;
                    margin: 4vh 4vw 0 2vw;
                }
                .navbar {
                    ul {
                        margin: 8vh 5vw 0 0;
                        li {
                            display: inline;
                            padding: 0 1vw 0 0;
                            font-size: 1.2vw;
                            font-weight: bold;
                            a {
                                cursor: pointer;
                                text-decoration: none;
                                color: $skillswhite;
                            }
                            #selected {
                                background-color: white;
                                color: $aboutgreen;
                                border-radius: 5px;
                                padding: .4vw;
                            }
                        }
                    }
                }
            }
            .infoblock {
                display: flex;
                flex-direction: column;
                align-items: center;
                .info {
                    text-align: left;
                    padding-top: 10vh;
                    width: 30%;
                    font-size: 1svw;
                    line-height: 2.5;
                    margin-top: 5vh;
                    .resume {
                            // background-color: yellow;
                            margin-top: 10vh;
                            display: flex;
                            justify-content: center;
                            gap: 1vw;
                            border: 1px solid white;
                            border-radius: 50px;
                            background-color: $skillswhite;
                        a {
                            text-decoration: none;
                            color: $aboutgreen;
                            font-size: 2vh;
                            font-weight: bold;
                            img {
                                width: 1vw;
                                height: 1vw;
                                margin: 1vh 0 0 0;
                                // background-color: pink;
                            }
                        }
                        img {
                            width: 2vw;
                            height: 2vw;
                            margin: .5vh 0 0 0;
                            // background-color: pink;
                        }
                    }
                } 
            }
        }

        // PORTFOLIO SECTION
        .portfolio {
            background-color: $mainblue;
            color: $skillswhite;
            height: 110vh;
            font-family: 'Inter', sans-serif;
            .portfoliotop {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                padding: 1vh 0 0 0;
                h1 {
                    font-size: 5vw;
                    margin: 4vh 4vw 0 2vw;
                }
                .navbar {
                    ul {
                        margin: 8vh 5vw 0 0;
                        li {
                            display: inline;
                            padding: 0 1vw 0 0;
                            font-size: 1.2vw;
                            font-weight: bold;
                            a {
                                cursor: pointer;
                                text-decoration: none;
                                color: $skillswhite;
                            }
                            #selected {
                                background-color: white;
                                color: $mainblue;
                                border-radius: 5px;
                                padding: .4vw;
                            }
                        }
                    }
                }
            }
            .portcontainer {
                display: flex;
                flex-direction: column;
                .appcontainer {
                    display: flex;
                    margin: 10vh 0 0 7vw;
                    gap: 5vw;
                }
                // First App
                .app1 {
                    border: 1px solid white;
                    border-radius: 5px;
                    height: 60vh;
                    width: 25vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 5px 5px 10px black;
                    .app1cover {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border-radius: 10px;
                        height: 60vh;
                        width: 25vw;
                        position: absolute;
                        cursor: pointer;
                        background-color: $mainblue;
                        img {
                            width: 14vw;
                            height: 14vw;
                        }
                        p {
                            color: white;
                            font-size: 3.5vh;
                            font-family: 'Julius Sans One', sans-serif;
                            // text-shadow: 10px 10px 10px whitesmoke;
                        }
                    }
                    .app1cover:hover {
                        opacity: 0;
                        transition: 1s;
                    }
                    .app1content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        height: 100vh;
                        margin-top: 8vh;
                        color: $hoverfonts;
                        .app1description {
                            text-align: left;
                            font-size: 1vw;
                            width: 85%;
                            margin: 0 0 0 -.8vw;
                        }
                        .apptechnologies {
                            display: flex;
                            flex-direction: column;
                            margin: 5vh 4.5vw 3vh 0;
                            gap: 2vh;
                            h3 {
                                margin: 0 0 1vh 0;
                            }
                            .apptechcircles {
                                margin: -1.5vh 0 2vh 0;
                                display: flex;
                                gap: 1vw;
                                .apptechcircle {
                                    border: 1px solid $techcirclegreen;
                                    border-radius: 50%;
                                    background-color: $techcirclegreen;
                                    width: 5vw;
                                    height: 5vw;
                                    // box-shadow: 2px 2px 2px black;
                                    #react {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        // background-color: yellow;
                                        height: 100%;
                                        img {
                                            margin: .3vh 0 0 0;
                                            width: 2.3vw;
                                        }
                                        p {
                                            font-size: .6vw;
                                        }
                                    }
                                    #express {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            margin: .5vh 0 0 0;
                                            width: 1.8vw;
                                            height: 1.8vw;
                                        }
                                        p {
                                            font-size: .6vw;
                                            margin-top: .8vh;
                                        }
                                    }
                                    #firebase {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            margin: 0 0 0 0;
                                            width: 2.2vw;
                                            height: 2.2vw;
                                        }
                                        p {
                                            margin: .2vh 0 0 0;
                                            font-size: .7vw;
                                        }
                                    }
                                }
                            }
                        }
                        .accomplishments {
                            margin: 1.5vh 0 0 0;
                            font-size: .9vw;
                            // line-height: 80%;
                            // background-color: #146166;
                            text-align: left;
                            h3 {
                                font-size: 1vw;
                                margin: -1vh 0 0 0;
                            }
                            p {
                                font-size: .9vw;
                            }
                        }
                        .links {
                            display: flex;
                            margin: 3vh 0 0 5vw;
                            gap: 6vw;
                            // z-index: 1;
                            .linkto {
                                display: flex;
                                p {
                                    margin: 0 0 0 0;
                                    font-size: 1vw;
                                }
                                img {
                                    width: 2.5vw;
                                    height: 2.5vw;
                                }
                            }
                            .linkto:hover {
                                transition: all .5s ease-in;
                                color: $skillswhite;
                                z-index: 1;
                            }
                            .github {
                                display: flex;
                                img {
                                    width: 2.7vw;
                                    height: 2.7vw;
                                    margin: -.3vh 0 0 0;
                                }
                            }
                            .github:hover {
                                transition: all .5s ease-in;
                                color: $skillswhite;
                                z-index: 1;
                            }
                        }
                    }
                }
                .app2 {
                    border: 1px solid white;
                    border-radius: 5px;
                    height: 60vh;
                    width: 25vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 5px 5px 20px black;
                    .app2cover {
                        position: absolute;
                        border-radius: 10px;
                        background-color: $mainblue;
                        height: 60vh;
                        width: 25vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        img {
                            width: 17vw;
                            height: 5.5vh;
                        }
                    }
                    .app2cover:hover {
                        opacity: 0;
                        transition: 1s;
                    }
                    .app2content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        height: 100vh;
                        margin-top: 5vh;
                        color: $hoverfonts;
                        .app2description {
                            text-align: left;
                            font-size: 1vw;
                            width: 85%;
                            margin: 5vh 0 0 -.8vw;
                        }
                    }
                    .apptechnologies {
                            display: flex;
                            flex-direction: column;
                            margin: 5vh 4.5vw 3vh 0;
                            gap: 2vh;
                        h3 {
                            margin: 0 0 1vh 0;
                        }
                        .apptechcircles {
                            margin: -1.5vh 0 2vh 0;
                            display: flex;
                            gap: 1vw;
                            // each tech circle
                            .apptechcircle {
                                border: 1px solid $techcirclegreen;
                                border-radius: 50%;
                                background-color: $techcirclegreen;
                                width: 5vw;
                                height: 5vw;
                                #react {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    // background-color: yellow;
                                    height: 100%;
                                    img {
                                        margin: .3vh 0 0 0;
                                        width: 2.3vw;
                                    }
                                    p {
                                        font-size: .6vw;
                                    }
                                }
                                #express {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    height: 100%;
                                    img {
                                        margin: .5vh 0 0 0;
                                        width: 1.8vw;
                                        height: 1.8vw;
                                    }
                                    p {
                                        font-size: .6vw;
                                        margin-top: .8vh;
                                    }
                                }
                                #firebase {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    height: 100%;
                                    img {
                                        margin: 0 0 0 0;
                                        width: 2.2vw;
                                        height: 2vw;
                                    }
                                    p {
                                        margin: .4vh 0 0 0;
                                        font-size: .7vw;
                                    }
                                }
                            }
                        }
                    }
                    .accomplishments {
                        margin: 0 0 0 0;
                        font-size: .9vw;
                        // line-height: 80%;
                        text-align: left;
                        h3 {
                            font-size: 1vw;
                            margin-bottom: -.1vh;
                        }
                        p {
                            font-size: .9vw;
                        }
                    }
                    .links {
                        display: flex;
                        gap: 6vw;
                        margin: 4vh 0 7vh 0;
                        .linkto {
                            display: flex;
                            img {
                                width: 2.5vw;
                                height: 2.5vw;
                            }
                        }
                        .github {
                            display: flex;
                            img {
                                width: 2.7vw;
                                height: 2.7vw;
                                margin: -.3vh  0 0 0;
                            }
                        }
                    }
                }
                .app3 {
                    border: 1px solid white;
                    border-radius: 5px;
                    height: 60vh;
                    width: 25vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 5px 5px 20px black;
                    .app3cover {
                        background-color: $mainblue;
                        border-radius: 5px;
                        position: absolute;
                        height: 60vh;
                        width: 25vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        img {
                            width: 17vw;
                        }
                    }
                    .app3cover:hover {
                        opacity: 0;
                        transition: 1s;
                    }
                    .app3content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        height: 100vh;
                        margin: 0 0 0 0;
                        color: $hoverfonts;
                        .app3description {
                            text-align: center;
                            margin: 0 0 0 0;
                            font-size: 1vw;
                        }
                        .apptechnologies {
                            display: flex;
                            flex-direction: column;
                            margin: 0 0 0 0;
                            margin: 3vh 1.35vw 0 0;
                            h3 {
                                margin: 0 0 2vh 0;
                            }
                            .apptechcircles {
                                display: flex;
                                gap: 1vw;
                                .apptechcircle {
                                    border: 1px solid $techcirclegreen;
                                    border-radius: 50%;
                                    background-color: $techcirclegreen;
                                    width: 5vw;
                                    height: 5vw;
                                    #figma {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        // background-color: yellow;
                                        height: 100%;
                                        img {
                                            width: 1.5vw;
                                            height: 1.5vw;
                                            margin: 1vh 0 0 0;
                                        }
                                        p {
                                            font-size: .6vw;
                                        }
                                    }
                                    #wix {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            margin: 1vh 0 0 0;
                                            width: 2vw;
                                            height: 2vw;
                                        }
                                        p {
                                            font-size: .6vw;
                                            margin-top: .8vh;
                                        }
                                    }
                                    #design {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            margin: 1.5vh 0 0 0;
                                            width: 1.7vw;
                                            height: 1.7vw;
                                        }
                                        p {
                                            font-size: .7vw;
                                            margin-bottom: 1.5vh;
                                        }
                                    }
                                } 
                            }
                        }
                        .accomplishments {
                            line-height: 95%;
                            margin: 5vh 0 0 0;
                            font-size: .9vw;
                        }
                        .links {
                            display: flex;
                            gap: 6vw;
                            margin: 3vh 0 0 5vw;
                            .linkto {
                                img {
                                    width: 2.5vw;
                                    height: 2.5vw;
                                }
                            }
                            .github {
                                img {
                                    width: 2.7vw;
                                    height: 2.7vw;
                                    margin: -.3vh 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // EXPERIENCE SECTION
    .experience {
        background-color: $aboutgreen;
        color: $skillswhite;
        height: 110vh;
        font-family: 'Inter', sans-serif;
        .experiencetop {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 1vh 0 0 0;
            h1 {
                font-size: 5vw;
                margin: 4vh 4vw 0 2vw;
            }
            .navbar {
                margin: 8vh 5vw 0 0;
                li {
                    display: inline;
                    padding: 0 1vw 0 0;
                    font-size: 1.2vw;
                    font-weight: bold;
                    a {
                        cursor: pointer;
                        text-decoration: none;
                        color: $skillswhite;
                    }
                    #selected {
                        background-color: white;
                        color: $aboutgreen;
                        border-radius: 5px;
                        padding: .4vw;
                    }
                } 
            }
        }
        .experiencecontainer {
            display: flex;
            justify-content: center;
            margin: 5vh 54vh 0 0;
            .places {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2vh 0 0 0;
            }
            .courdevs {
                width: 15vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: -.5vh 0 3vh 0;
                // background-color: yellow;
                img {
                    width: 7vw;
                    height: 7vw;
                    // background-color: yellow;
                }
                h3 {
                    font-size: 2.5vh;
                    margin-top: -.005vh; 
                  }
                  p {
                      margin-top: -.8vw;
                      font-size: 2vh;
                  }
            }
            .r1rcm {
                width: 15vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2.5vh 0 0 0;
                img {
                    width: 5vw;
                    height: 4vw;
                }
                h3 {
                    font-size: 2.5vh; 
                    margin-top: 1.5vh; 
                }
                p {
                    margin-top: -.9vw;
                    font-size: 2vh;
                }
            }
            .slea {
                width: 15vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5.5vh 0 0 0;
                img {
                    width: 5vw;
                    height: 5vw;
                }
                h3 {
                    font-size: 2.5vh; 
                    margin-top: 1vh;
                }
                p {
                    margin-top: -.9vw;
                    font-size: 2vh;
                }
            }
        }
        .vl2 {
            border-left: 2px solid $skillswhite;
            height: 75vh;
            margin: 0 2vw 2vh 2vw;
        }
        .descriptions {
            .courdevelops {
                h3 {
                    margin-left: 2.3vw;
                    margin-bottom: -.9vh;
                    font-size: 3vh;
                }
                .descriptionlist {
                    // background-color: yellowgreen;
                    ul {
                        list-style: none;
                        margin-bottom: 5vh;
                        li {
                            font-size: 2vh;
                            padding: .5vh;
                        }
                    }
                }
            }
            .r1description {
                margin: 7.5vh 0 0 0;
                h3 {
                    margin-left: 2.2vw;
                    margin-bottom: -.9vh;
                    font-size: 3vh;
                }
                .descriptionlist {
                    // background-color: yellowgreen;
                    ul {
                        list-style: none;
                        margin-bottom: 5vh;
                        li {
                            font-size: 2vh;
                            padding: .5vh;
                        }
                    }
                }
            }
            .sleadescription {
                // background-color: yellowgreen;
                margin-top: 6vh;
                h3 {
                    margin-left: 2.35vw;
                    margin-bottom: -.9vh;
                    font-size: 3vh;
                }
                .descriptionlist {
                    // background-color: yellowgreen;
                    ul {
                        list-style: none;
                        li {
                            font-size: 2vh;
                            padding: .5vh;
                        }
                    }
                }
            }
        }
    }
    // BLOG SECTION
    .blog {
        background-color: $skillsteal;
        color: $skillswhite;
        height: 120vh;
        font-family: 'Inter', sans-serif;
        .blogtop {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 1vh 0 0 0;
            h1 {
                font-size: 5vw;
                margin: 4vh 4vw 0 2vw;
            }
            .navbar {
                margin: 8vh 5vw 0 0;
                li {
                    display: inline;
                    padding: 0 1vw 0 0;
                    font-size: 1.2vw;
                    font-weight: bold;
                    a {
                        cursor: pointer;
                        text-decoration: none;
                        color: $skillswhite;
                    }
                    #selected {
                        background-color: white;
                        color: $skillsteal;
                        border-radius: 5px;
                        padding: .4vw;
                    }
                } 
            }
        }
        .blogcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15vh 0 0 0;
            // background-color: yellow;
            .blogoutline {
                display: flex;
                gap: 3vw;
                overflow: hidden;
                padding: 5vh;
                width: 80%;
                margin: 0 0 0 10vw;
                .blogcircles {
                    background-color: $mainblue;
                    border-radius: 50%;
                    width: 20vw;
                    height: 20vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 10px 10px 10px $boxshadowcircles;
                    a {
                        text-decoration: none;
                        color: $skillswhite;
                        display: flex;
                        flex-direction: column;
                        align-items: right;
                        gap: 1vh;
                    }
                }
            }
        }
    }

    // CONTACT SECTION
    .contact {
        background-color: $mainblue;
        color: $skillswhite;
        height: 100vh;
        font-family: 'Inter', sans-serif;
        .contacttop {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 1vh 0 0 0;
            h1 {
                font-size: 5vw;
                margin: 4vh 4vw 0 2vw;
            }
            .navbar {
                margin: 8vh 5vw 0 0;
                li {
                    display: inline;
                    padding: 0 1vw 0 0;
                    font-size: 1.2vw;
                    font-weight: bold;
                    a {
                        text-decoration: none;
                        color: $skillswhite;
                    }
                }
                #selected {
                    background-color: white;
                    color: $mainblue;
                    border-radius: 5px;
                    padding: .4vw;
                }
            }
        }
        .contactcontainer {
            form {
                display: flex;
                gap: 7vw;
                .nameemaildiv {
                    margin: 10vh 0 0 40vh;
                    .name {
                        margin: 0 0 6.5vh 0;
                        p {
                            font-size: 1.5vw;
                        }
                        input {
                            width: 24vw;
                            height: 6vh;
                            border: none;
                            border-radius: 5px;
                            background-color: $mainblue;
                            border: 1px solid white;
                                color: white;
                        }
                    }
                    .email {
                        p {
                            font-size: 1.5vw;
                        }
                        input {
                            width: 24vw;
                            height: 6vh;
                            border: none;
                            border-radius: 5px;
                            background-color: $mainblue;
                            border: 1px solid white;
                            color: white;
                        }
                    }
                    .socials {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        margin: 5vh 0 0 2vw;
                        #github {
                            margin: 0 1vw 0 0;
                            img {
                                width: 2.8vw;
                                height: 2.8vw;
                            }
                        }
                        #linkedin {
                            margin: 0 1vw 0 0;
                            img {
                                width: 3.7vw;
                                height: 3.7vw;
                            }
                        }
                        #twitter {
                            margin: 0 .5vw 0 -.4vw;
                            img {
                                width: 3.5vw;
                                height: 3.5vw;
                            }
                        }
                        #instagram {
                            margin: 0 .9vw 0 -.01vw;
                            img {
                                width: 4vw;
                                height: 4vw;
                            }
                        }
                        #facebook {
                            img {
                                width: 2.9vw;
                                height: 2.9vw;
                            }
                        }
                    }
                }
                .messageandsubmitdiv {
                    margin: 10vh 0 0 1vw;
                    .message {
                        p {
                            font-size: 1.5vw;
                        }
                        input {
                            width: 24vw;
                            height: 23vh;
                            border: none;
                            border-radius: 5px;
                            background-color: $mainblue;
                            border: 1px solid white;
                            color: white;
                            text-align: center;
                        }
                    }
                    .submit {
                        // background-color: yellowgreen;
                        margin: 6vh 0 0 0;
                        // animation-name: moveInCenter;
                        // animation-duration: 1s;
                        button {
                            width: 100%;
                            cursor: pointer;
                            height: 5vh;
                            background-color: $mainblue;
                            color: white;
                            border: 1px solid white;
                            border-radius: 5px;
                            font-size: 1.2vw;
                        }
                    }
                }
            }
        }
        footer {
            // background-color: yellowgreen;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 18vh 7vw 0 0;
            small {
                display: flex;
                justify-content: center;
                gap: .7vw;
                // background-color: yellowgreen;
                img {
                    opacity: .5;
                    width: 1.8vw;
                    height: 1.8vw;
                    margin: .5vh 0 0 0;
                    // background-color: yellowgreen;
                    // padding: 1vh 0 0 0;
                    // margin: 1vh 0 0 0;
                }
                .smallprint {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    p {
                        opacity: .5;
                    }
                    a {
                        // color: #58a6ff;
                        color: #3b66bb;
                    }
                    span {
                        #phone {
                            margin: 1vh 0 0 0;
                            // background-color: green;
                        }
                    }
                }
            }
        }
    }
}